@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  /* Water Blue */
  --color-primary-dark: #0369a1;
  /* Darker Water Blue */
  --color-primary-light: #38bdf8;
  /* Lighter Water Blue */
  --color-black: #0f172a;
  --color-white: #ffffff;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-900: #0f172a;

  --font-sans: var(--font-roboto), Arial, sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 1280px;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
}